body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-rows: 10vh;
    grid-template-columns: 25vw 50vw 25vw;
    height: 10vh;
    width: 100%;
    /* background-color: #f19920; */
}

.header-container {
    grid-column: 1/4;
    grid-row: 1;
    padding: 13px;
    background-color: #f0e9e0;
}

.logo-position {
    float: left;
    position: absolute;
    left: 35px;
    top: 1px;
    width: 120px;
    height: 100px;
}

.header-flex {
    display: flex;
    justify-content: end;
    -webkit-justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

nav a {
    font-size: 15px;
    color: #333;
    font-weight: 900;
    margin: 0 20px;

}

a:hover {
    color: gray;
    letter-spacing: 2px;
    transition: 0.5s;
}


.main-container {
    display: flex;
    height: 605px;
    background-color: #f19920;
}

.main-photo-container {
    justify-content: center;
}

.intro-container {
    width: 1300px;
    height: 605px;
    align-items: center;
    justify-content: center;
}


.intro-card {
    padding-left: 20px;
    align-items: center;
}

.right-container {
    background-image: url(assets/right-column.png);
    justify-content: center;
    height: 605px;
    width: 605px;
    background-repeat: no-repeat;
    background-size: 605px;
}



.intro-accent {
    text-transform: uppercase;
    font-size: 25px;
    color: #333;
    padding: 20px 40px 40px 20px;
}

.intro-title {
    display: flex;
    font-size: 73px;
    font-family: 'Shrikhand', cursive;
    color: #732817;
    letter-spacing: 3px;;
    border-bottom: 5px solid #732817;
    border-radius: 5px;
    justify-content: center;
}

.intro-image {
    margin-top: 100px;
}


.intro-tagline {
    font-size: 16px;
    line-height: 25px;
    color: #333;
    padding-left: 30px;
    margin-top: 40px;
}

.columns-wrapper {
    display: flex;
    justify-content: center;
}

.column {
    overflow: scroll;
    margin: 42px;
    text-align: center;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;
}

.work-container {
    grid-column: 1/4;
    align-items: center;
}


.footer-container {
    padding: 10px;
    grid-column: -4 / -1;
    background-color: #f0e9e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.link-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    width: 40px;
    align-items: center;
    color: #f0e9e0
}

.icons-flex {
    display: flex;
    justify-content: space-around;
    width: 155px;
    margin-top: 15px;
    margin-bottom: 0px;
}


.top-button {
    display: flex;
    justify-content: flex-end;
}

.icons8 {
    font-size: 10px;
    color: lightgray;
    text-align: right;
}