body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-rows: 13vh;
    grid-template-columns: 25vw 50vw 25vw;
    width: 100%;
    /* background-color: #f19920; */
}

.header-container {
    grid-column: 1/4;
    grid-row: 1;
    background-color: #f0e9e0;
    height: 13vh;
}

.logo {
    float: left;
    position: absolute;
    left: 45px;
    top: 12px;
    align-items: flex-start;
}

.header-flex {
    display: flex;
    justify-content: end;
    -webkit-justify-content: flex-end;
    align-items: center;
    margin-top: 25px;
}


nav {
    margin-top: 45px;
}

nav a {
    font-size: 15px;
    color: #333;
    font-weight: 900;
    margin: 0 20px;
    align-items: flex-end;
}

a:hover {
    color: gray;
    letter-spacing: 2px;
    transition: 0.5s;
}

a:link {
    color: #333;
}


.main-container {
    height: 605px;
    width: 100%;
    background-color: #124c59;
}


.main-contents {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.main-photo-container {
    align-items: center;
    justify-content: space-evenly;
    height: 600px;
}

.intro-container {
    width: 80%;
    align-items: center;
}


.intro-card {
    align-items: center;
}

   
.intro-right {
    display: flex;
    width: 65%;
    background-image: url(assets/orangewindow.png);
    background-repeat: no-repeat;
    background-size: 70% 95%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}


.intro-accent {
    text-transform: uppercase;
    font-size: 20px;
    color: #333;
    padding: 30px 0px 0px 20px;
}

.intro-title {
    display: flex;
    font-size: 73px;
    font-family: 'Shrikhand', cursive;
    color: #732817;
    letter-spacing: 3px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    position: relative;
    text-shadow: 7px 7px 10px #FFF9B2;
    padding-top: 10px;
}


.right-image-container {
    position: relative;
    width: 100%;
}

.intro-image {
    /* display: block; */
    width: 100%;
    height: auto;
    margin-top: 290px;
}


.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    overflow: hidden;
    width: 300px;
    height: 300px;
    transition: .5s ease;
    /* background-image: url(assets/graphic-me.png); */
  }
  
  .right-image-container:hover .overlay {
    width: 100%;
    left: 0;
  }
  
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 80%;
    left: 48%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }


.intro-tagline {
    font-size: 18px;
    /* line-height: 25px; */
    color: #333;
    padding-left: 30px;
    padding-top: 10px;
    margin-left: 200px;
    justify-content: right;
}

.work-container {
    display: flex;
    flex-direction: column;
    background-color: #3c7f72;
    height: 650px;
    width: 100%;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    justify-content: center;
}

.columns-wrapper {
    display: flex;
    margin-top: 110px;
    margin-bottom: 100px;
    width: 100%;
}

.middle-column{
    display: flex;
    justify-content: center;
    overflow: scroll;
    text-align: center;
    justify-content: center;
    background-repeat: no-repeat;
    align-items: center;
    width: 100vw;
} 


.column.column-one {
    justify-content: flex-end;
    align-items: baseline;
    empty-cells: show;
    /* margin-left: 100px; */
}


/* 
.column.column-two {
    justify-content: center;
    overflow: scroll;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.column.column-three {
    overflow: scroll;
    text-align: center;
    justify-content: center;
    align-items: center;
} */


.column.column-four {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    /* height: 650px; */
}



.footer-container {
    padding: 10px;
    grid-column: -4 / -1;
    background-color: #f0e9e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.footer-description {
    color: #333;
}

.link-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    width: 40px;
    align-items: center;
    color: #f0e9e0
}

.icons-flex {
    display: flex;
    justify-content: space-around;
    width: 155px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.top-button a {
    z-index: 1;
}


.icons8 {
    font-size: 10px;
    color: lightgray;
    text-align: right;
}