body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-rows: 15vh;
    grid-template-columns: 25vw 50vw 25vw;
    /* height: 10vh; */
    width: 100%;
    /* background-color: #f19920; */
}

.header-container {
    grid-column: 1/4;
    grid-row: 1;
    padding: 13px;
    background-color: #f0e9e0;
}

.logo-position {
    float: left;
    position: absolute;
    left: 35px;
    top: 5px;
    margin-left: 50px;
    width: 120px;
    height: 100px;
}

.header-flex {
    display: flex;
    justify-content: end;
    -webkit-justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

nav a {
    font-size: 15px;
    color: #333;
    font-weight: 900;
    margin: 0 20px;

}

a:hover {
    color: gray;
    letter-spacing: 2px;
    transition: 0.5s;
}

a:link {
    color: #333;
}



.main-container {
    display: flex;
    height: 605px;
    width: 100%;
}

.main-photo-container {
    justify-content: center;
    align-items: center;
    height: 605px;
}

.intro-container {
    width: 1300px;
    height: 605px;
    align-items: center;
    justify-content: center;
}


.intro-card {
    padding-left: 20px;
    align-items: center;
}

/* .right-container {
    background-color: #f19920;
    justify-content: center;
    height: 605px;
    width: 605px;
    background-repeat: no-repeat;
    background-size: 605px;
} */

.main-container {
    background-image: url(assets/pink-teal.png);
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

   



.intro-accent {
    text-transform: uppercase;
    font-size: 25px;
    color: #333;
    padding: 20px 40px 40px 20px;
}

.intro-title {
    display: flex;
    font-size: 73px;
    font-family: 'Shrikhand', cursive;
    color: #732817;
    letter-spacing: 3px;;
    text-transform: uppercase;
    border-bottom: 5px solid #732817;
    border-radius: 5px;
    justify-content: center;
    position: relative;
    text-shadow: 7px 7px 10px #f7abbd;
}

.intro-image {
    margin-top: 100px;
    margin-right: 20px;
    position: relative;
}


.intro-tagline {
    font-size: 16px;
    line-height: 25px;
    color: #333;
    padding-left: 30px;
    margin-top: 40px;
}


.work-container {
    display: flex;
    flex-direction: column;
    background-image: url(assets/orange-red-white.png);
    height: 720px;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.columns-wrapper {
    display: flex;
    margin-top: 110px;
    margin-bottom: 100px;
    width: 100%;
}

.middle-column{
    display: flex;
    justify-content: center;
    overflow: scroll;
    text-align: center;
    justify-content: center;
    background-repeat: no-repeat;
    align-items: center;
    width: 50vw;
    background-color: #52c3be;
    border-radius: 10px;
} 


.column.column-one {
    justify-content: flex-end;
    align-items: baseline;
    empty-cells: show;
    /* margin-left: 100px; */
}



.column.column-two {
    justify-content: center;
    overflow: scroll;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.column.column-three {
    overflow: scroll;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.column.column-four {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    /* height: 650px; */
}



.footer-container {
    padding: 10px;
    grid-column: -4 / -1;
    background-color: #f0e9e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.footer-description {
    color: #333;
}

.link-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    width: 40px;
    align-items: center;
    color: #f0e9e0
}

.icons-flex {
    display: flex;
    justify-content: space-around;
    width: 155px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.top-button a {
    z-index: 1;
}


.icons8 {
    font-size: 10px;
    color: lightgray;
    text-align: right;
}