<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ada Woodward</title>
    <link rel="stylesheet" href="../../components/about/about.css">
    <link rel="icon" href="../../assets/mylogo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="grid-container">
        <header class="header-container">
            <nav>
                <div id="logo-container">
                    <a href="../../index.html">
                        <img class="logo-flex" src="../../assets/mylogo.png" width="200px" />
                    </a>
                </div>
                <!-- <a href="../../index.html"><img src="../../assets/mylogo.png" alt="HOME" width="200px"></a> -->
                <div class="header-flex">
                    <a href="../../components/about/about.html">About</a>
                    <a href="#">CV.</a>
                    <a href="../../components/work/work.html">Work</a>
                    <a href="mailto:wonwoodward@gmail.com"><img
                            src="https://img.icons8.com/ios/50/000000/paper-plane.png" alt="send an email"
                            style="width:30px;height:30px;"></a><a href="https://icons8.com/icon/12582/paper-plane"></a>
                </div>
            </nav>
        </header>
    </div>
</body>

</html>