<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ada Woodward</title>
    <link rel="stylesheet" href="../../components/about/about.css">
    <link rel="icon" href="../../assets/mylogo.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/f874b10cf1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
        integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="grid-container">
        <header class="header-container">
            <!-- <a href="../../index.html"><img src="../../assets/mylogo.png" alt="HOME" width="200px"></a> -->
            <nav>
                <div class="header-flex">
                    <div class="sns-container">
                        <div class="icons-flex">
                            <a href="https://github.com/adawoodward">
                                <img src="https://img.icons8.com/metro/52/000000/github.png"
                                    style="width: 28px; height: 28px;"></a>
                            <a href="https://www.linkedin.com/in/adawoodward">
                                <img src="https://img.icons8.com/external-tal-revivo-filled-tal-revivo/24/000000/external-linkedin-in-logo-used-for-professional-networking-logo-filled-tal-revivo.png"
                                    style="width: 28px; height: 28px;">
                            </a>
                            <a href="https://www.behance.net/adawoodward">
                                <img src="https://img.icons8.com/external-tal-revivo-filled-tal-revivo/24/000000/external-behance-to-build-profiles-consisting-of-projects-logo-filled-tal-revivo.png"
                                    style="width: 28px; height: 28px;">
                            </a>
                            <a href="https://dribbble.com">
                                <img src="https://img.icons8.com/fluency/48/000000/dribbble.png"
                                    style="width: 28px; height: 28px;">
                            </a>
                        </div>
                    </div>
                    <div id="logo-container">
                        <a href="../../index.html">
                            <img class="logo-flex" src="../../assets/mylogo.png">
                        </a>
                    </div>
                    <a href="../../components/about/about.html">About</a>
                    <a href="#">CV.</a>
                    <a href="../../components/work/work.html">Work</a>
                    <a href="mailto:wonwoodward@gmail.com"><img
                            src="https://img.icons8.com/ios/50/000000/paper-plane.png" alt="send an email"
                            style="width:30px;height:30px;"></a>
                </div>
            </nav>
        </header>
    </div>

    <div class="about-page" id="about-page">
        <div class="intro-section">
            <div class="intro-part">
                <div class="intro-card">
                    <div class="intro-description">
                        <div>
                            Hello, I am Ada (Wonyoung).<br>
                            I am an aspiring Front-end developer and UI/UX Designer in training.<br>
                            I love working on projects that make people happy. At any scale.<br>
                            In the past couple months,<br>I've found myself in programming language learning, UI/UX
                            design,
                            and
                            front-end.<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#128205 based in Salt Lake City Metropolitan area
                        </div>
                    </div>

                    <div class="intro-image">
                        <img src="../../assets/myintrophoto.JPG" alt="ada" style="height: 400px;">
                    </div>
                </div>
            </div>
            <div class="status-section">
                <div class="vdiagram-container">
                    <div class="vdiagram-image">
                        <img src="../../assets/vdiagram.png" alt="brain" style="height: 450px;">
                    </div>
                </div>
                <div class="vdiagram-description">
                    <p>
                        &#8226; UI/UX in training:<br>
                        Figma<br>
                        Adobe XD
                    </p>
                    <p>
                        &#8226; Learning Tech currently:<br>
                        HTML<br>
                        CSS<br>
                        JavaScript<br>
                        Ruby<br>
                    </p>
                    <p>
                        &#8226; Business:<br>
                        Studied MBA (Year 2009-2010)
                    </p>
                </div>
            </div>


            <footer class="footer-container">
                <div class="footer-flex">
                    <div>Website Developed and Designed by Ada Woodward</div>
                </div>
                <div class="icons8">icons8.com</div>
            </footer>
</body>

</html>